.ui.two.column.grid 
  .center.floated.four.wide.column
    .ui.segment
      %table.ui.very.basic.large.table
        %tbody
          %tr 
            %td Total sold:
            %td 
              %h4
                = @facade.total_sold
          %tr 
            %td Orders amount:
            %td
              %h4  
                = @facade.orders_size
  .twelve.wide.column
    .ui.segment
      %table.ui.very.basic.large.table
        %thead 
          %tr 
            %th.center.aligned{:colspan => "3"} Most popular menu items
          %tr 
            %td First course dish:
            %td 
              = @facade.most_popular_first_course
          %tr 
            %td Main course dish:
            %td 
              = @facade.most_popular_main_course
          %tr 
            %td Drink:
            %td  
              = @facade.most_popular_drink
