.ui.container
  .ui.vertical.segment
    = @facade.edit_or_create_menu_link
  .ui.vertical.segment
    .ui.five.column.grid
      - @facade.paginated_daily_menus.reverse.each do |menu|
        .column 
          .ui.fluid.link.card 
            .content 
              .header
                = menu.created_at_day
              .description
                = menu.formatted_created_at
                %br/
                %br/
            = link_to 'History', admin_daily_menu_path(menu), class: "ui bottom attached button" 
      .one.column.row
        .center.aligned.column
          = paginate @facade.paginated_daily_menus, views_prefix: 'daily_menus', window: 0
          