%h1.ui.center.aligned.header Your order
.ui.piled.segment
  %table.ui.very.basic.celled.table
    %thead
      %tr
        %th Order items
        %th Price
    %tbody
      - @user_order&.food_items&.each do |item|
        %tr
          %td
            %h4.ui.header
              = item.name
              .sub.header
                = item.course.humanize
          %td
            = item.price
    %tfoot 
      %tr 
        %th.right.aligned Total price
        %th
          = @user_order_cost
  - if @daily_menu.created_at.today?
    .ui.two.buttons
      = link_to "Edit", edit_daily_menu_order_path(@daily_menu, @user_order), class: "ui primary mini button"
      = link_to "Cancel my order", daily_menu_order_path(@user_order.daily_menu, @user_order), method: :delete,   
                                                      class: "ui mini button",
                                                      data: { confirm_swal: 'Are you sure?' }