- if policy(menu).show?
  %h1.ui.center.aligned.header
    = "Menu list on #{menu.formatted_created_at_long}"
.ui.segment
  %table.ui.very.basic.table
    %thead
      %tr
        %th 
          Menu items
          = menu.admin_edit_link
        %th Price
        %th Image
    %tbody
      - menu.sorted_by_course_items.each do |item|
        %tr
          %td
            %h4.ui.header
              = item.name
              .sub.header
                = item.humanized_course
          %td
            = item.price
          %td
            = image_tag item.display_image if item.image.attached?
