.ui.vertical.segment
  = f.simple_fields_for :order_items, @first_course do |s|
    .field
      = s.input :food_item_id, label: "First", input_html: { class: "ui selection dropdown" }, prompt: 'Select',
                              collection: FoodItem.where(daily_menu: params[:daily_menu_id], course: "first_course")
    .ui.checkbox 
      = s.input :_destroy, as: :boolean, label: "Remove item"
.ui.vertical.segment
  = f.simple_fields_for :order_items, @main_course  do |s|
    .field
      = s.input :food_item_id, label: "Main", input_html: { class: "ui selection dropdown" }, prompt: 'Select',
                              collection: FoodItem.where(daily_menu: params[:daily_menu_id], course: "main_course")
    .ui.checkbox   
      = s.input :_destroy, as: :boolean, label: "Remove item"
.ui.vertical.segment  
  = f.simple_fields_for :order_items, @drink  do |s|
    .field
      = s.input :food_item_id, label: "Drink", input_html: { class: "ui selection dropdown" }, prompt: 'Select',
                              collection: FoodItem.where(daily_menu: params[:daily_menu_id], course: "drink")
    .ui.checkbox  
      = s.input :_destroy, as: :boolean, label: "Remove item"