.ui.container
  .ui.two.column.grid
    .column
      %h1.ui.center.aligned.header Make your order here:
      = simple_form_for @order, url: daily_menu_orders_path, html: {class: "ui form"} do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :daily_menu_id, value: params[:daily_menu_id]
        .ui.piled.segment
          = render 'errors' if @order.errors.any?
          = f.simple_fields_for :order_items do |item|
            = render 'new_order_items_fields', f: item
          .ui.fluid.buttons
            = f.submit "Order", class: "ui primary button",  data: { confirm: "Are you sure you?" }
            .or
            = link_to "Back", :back, class: "ui button"
    .column 
      = render 'shared/menu_list', menu: DailyMenu.find(params[:daily_menu_id])