.ui.container
  .ui.one.column.grid
    .column
      .ui.segment
        %table.ui.very.basic.celled.table
          %thead
            %tr
              %th Name
              %th Email
              %th Registered at
              %th Last order
          %tbody
            - @facade.paginated_users.each do |user|
              %tr
                %td
                  = link_to user.name, admin_user_path(user)
                %td
                  = user.email
                %td
                  = user.joined_in_date
                %td
                  = user.last_order_date
      .ui.grid
        .celled.center.aligned.column
          = paginate @facade.paginated_users