.ui.menu
  .ui.container
    .item 
      = image_tag('1')
    - if current_user && current_user.is_admin?
      = link_to 'Dashboard', admin_root_path, class: "item"
      = link_to 'Users', admin_users_path, class: "item"
    - else
      = link_to 'Dashboard', root_path, class: "item"
    .right.menu
      - unless current_user
        .item
          = link_to 'Log in', new_user_session_path, class: 'ui primary button' 
        = link_to 'Sign up', new_user_registration_path, class: 'blue item'
        = link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post, class: 'item'
      - else 
        = link_to 'My orders', orders_path, class: "item"
        = link_to 'Settings', edit_user_registration_path, class: "link item"
        .item
          = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'ui primary button'
        